.switch {
  position : relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #eee;
  border-radius: 20px;
}

.switch::after {
  /* content: ''; */
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: red;
  top: 1px;
  left: 1px;
  transition: all 0.3s;
} 

/* .checkbox:checked + .switch::after {
  left: 20px;
}

.checkbox:checked + .switch {
  background-color: #7983ff;
} */

/* .checkbox {
  display: none;
} */
.header {
  text-align: center;
}
.form{
  background-color: #cbc0d3;
  height: 100hv;
  padding: 10px;
  margin: 0;
}

.dogForm{
  background-color: #8e9aaf;
  text-align: center;
  padding: 20px;
  border-radius: 5em;
}